@font-face {
    font-family: pixeled;
    src: url(./fonts/pixel.ttf);
}

* {
    font-family: pixeled;
}

body {
    background-color:black;
}

canvas {
    background-color: white;

    position: fixed;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}

/* UI */
#ui {
    user-select: none;
}

#ui a.title {
    font-size: 0.75in;
    color: #4cf;

    width:min-content;
    height:min-content;

    position:fixed;
    transform: translate(-50%,-50%);
    left:50%;

    text-align:center;
}
#ui a.button {
    cursor:pointer;

    font-size: 0.5in;
    color: #3be;

    width:max-content;
    height:min-content;

    position:fixed;
    transform: translate(-50%,-50%);
    left:50%;

    text-align:center;

    background-color: #4448;
    border-radius: 7px;
    padding:15px;
}

/* Main */
#main a.title {
    top:35%;
}
#main a.start {
    top:55%;
}

/* Pause */
#pause a.title {
    top:25%;
}
#pause a.resume {
    top: 45%;
}
#pause a.back {
    top: 60%;
}

/* Gameover */
#gameover a.title {
    top: 30%;
    width:max-content;
    font-size: 0.7in;
}
#gameover a.score {
    font-size: 0.6in;
    color: #5df;

    width:max-content;
    height:min-content;

    position:fixed;
    transform: translate(-50%,-50%);
    left:50%;
    top: 45%;

    text-align:center;
}
#gameover a.back {
    top: 60%;
}
#gameover a.restart {
    top: 75%;
}

/* Game */
#game a.score {
    position: fixed;
    transform: translate(-50%,-50%);
    left:50%;
    top:10%;

    font-size:0.75in;
    color:#3be;
}